* {
    box-sizing: border-box;
 }

 /* Notes */

 /* 
 
 Client Brief:

 Puffin image should never be cut off
 Sans-serif font
 Any spacing not defined can be estimated but should allow for fluid and responsive design
 

 Purple: #120323
 Header BG & Animal Name (Puffin)

 Green: #97bf04
 Sidebar

 Pink: #d9043d 
 Footer & Pic Frame
 
 */


 /* General */
 body {
    font-family: 'Segoe UI', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
 }
 
 /* Header */
 header {
    background-color: #120323;
    text-align: center;
    padding: 1rem;
 }
 
 header h1 {
    color: #97bf04;
 }

 /* Main */
 figure {
    margin: 20px;
 }
 
 figure img {
    border: 3px solid #d9043d ;
    width: 100%; 
 }

 h2 {
    color: #120323;
 }

 /* Sidebar */
 aside {
    background-color: #97bf04;
    padding: 1rem;
 }

 /* Footer */
 footer {
    background-color:#d9043d;
    color: white;
    text-align: center;
    font-size: 14px;
    padding: 1rem;
 }

 /* Media Queries */

 /*
 For devices less than 768px wide
The logo and company name should be on separate lines
All content should be in one column
The puffin image should be centred horizontally and take up 100% of the width of the page

For devices less than 1000px wide
The logo and company name should be on the same line
The puffin image should be displayed at a smaller size - no wider than 300px
The puffin image and the caption for it should be displayed next to each other using flexbox
The sidebar should still appear at the bottom of the page, taking 100% of the horizontal width

For devices 1000px wide or greater
3 column layout with the sidebar on the right
*/

@media screen and (max-width:768px){
    header {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;
     }
  
     figure {
        display: flex;
        gap: 1rem;
     }
  
     figure img {
       width: 300px;
       height: 300px;
     }

     h2 {
        margin-top: 0px;
     }

}